

<div class="container">
    @{
        List<Proiect_DAW.Models.Comment> comments = Model.Comments;
    }
    @if (@comments.Any())
    {
        @foreach (Proiect_DAW.Models.Comment comment in Model.Comments)
        {
            <p>@comment.CreateDate</p>
            <p>@comment.CreatorUser.UserName</p>
            <p>@comment.Text</p>
        }

    }
</div>