<h3>Create a post</h3>
@await Html.PartialAsync("_CreatePostPartial")

<br />
@foreach (Proiect_DAW.Models.Post posts in ViewBag.Posts)
{
    await Html.RenderPartialAsync("_PostPartial", posts);
    <text><br /></text>
}

<script>
    function like(id){
        let likeButton = document.getElementById('like-button_' + id);
        let likeCounter = document.getElementById('likes_' + id);
        likeButton.addEventListener('click', function () {
            if (likeButton.classList.contains('bi-heart-fill')) {
                likeButton.classList.remove('bi-heart-fill');
                likeButton.classList.add('bi-heart');
                likeCounter.textContent = Number(likeCounter.textContent) - 1;
            } else {
                likeButton.classList.remove('bi-heart');
                likeButton.classList.add('bi-heart-fill');
                likeCounter.textContent = Number(likeCounter.textContent) + 1;
            }
        });
    }
    @foreach (Proiect_DAW.Models.Post posts in ViewBag.Posts)
{
    <text>like(@posts.Id);</text>
}
</script>