@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<h2>@ViewData["message_exist"]</h2>
@if (ViewData["is_new_profile"] == "yes")
{
    <h2>New Profile</h2>
}
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Username" class="form-control"/>
                <label asp-for="Input.Username" class="form-label"></label>
            </div>
            <div class="form-floating">
                <input asp-for="Input.FirstName" class="form-control" />
                <label asp-for="Input.FirstName" class="form-label"></label>
            </div>
            <div class="form-floating">
                <input asp-for="Input.LastName" class="form-control" />
                <label asp-for="Input.LastName" class="form-label"></label>
            </div>
            <div class="form-floating">
                <textarea asp-for="Input.Description" class="form-control"></textarea>
                <label asp-for="Input.Description" class="form-label"></label>
            </div>
            <div class="form-check">
                <input asp-for="Input.IsPrivate" class="form-check-input" id="checkprivate" />
                <label asp-for="Input.IsPrivate" class="form-check-label" for="checkprivate"></label>
            </div>
                <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
